<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecnutimebank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.mine.Profile_detail"/>
        <activity android:name=".ui.publish.PublishMoreDetailActivity" />
        <activity
            android:name=".ui.mine.MyBank"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.mine.IdentityAuthentication"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.mine.Personal_Information"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.mine.Settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.publish.EmployeeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.requirements.RequirementDetailActivity" />
        <activity
            android:name=".ui.publish.PublishDetailActivity"
            android:label="@string/title_activity_publish_detail" />
        <activity
            android:name=".BaseActivity"
            android:label="base_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>