<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ecnutimebank">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>  <!--网络权限-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.login.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/register"
            >
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.mine.ProfileDetailActivity" />
        <activity android:name=".ui.mine.TimeBankActivity"
            android:label="@string/timeBank"/>
        <activity android:name=".ui.mine.IdentityAuthenticationActivity"
            android:label="@string/identity_authentication"/>
        <activity android:name=".ui.mine.PersonalInformationActivity" />
        <activity android:name=".ui.mine.SettingsActivity" />
        <activity android:name=".ui.home.HomePlaceDetailActivity"
            android:label="@string/title_facility"/>
        <activity android:name=".ui.publish.AcceptedDetailActivity"
            android:label="@string/title_activity_requirement_detail"/>
        <activity android:name=".ui.publish.PublishMoreDetailActivity"
            android:label="@string/title_activity_requirement_detail"/>
        <activity
            android:name=".ui.publish.EmployeeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/titie_volunteer" />
        <activity android:name=".ui.requirements.RequirementDetailActivity"
            android:label="@string/title_activity_requirement_detail"/>
        <activity
            android:name=".ui.publish.PublishDetailActivity"
            android:label="@string/title_activity_publish_detail" />
        <activity
            android:name=".BaseActivity"
            android:label="base_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>